.wrapper{
    position: fixed;
    top: 0;
    width: 100%;
  line-height: 50px;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.container{
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: grey;
    display: flex;
    
}

.navbarbtn{
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    background-color: #555555;
    border: 2px solid #555555;
    transition: background-color 2s;
    margin-right: 2px;
}

.navbarbtn:hover {
    background-color: white;
    color: black;
}

.button {
    border: none;
    cursor: pointer;
}

.user{
    height: 50px;
    position: absolute; 
    bottom: 18px; 
    right: 25px;
    text-align: right;
}